[Unit]
Description=Zipper AI
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/zipper/app
ExecStart=/opt/zipper/app/.venv/bin/python main.py
Restart=always
RestartSec=5
TimeoutStopSec=120
EnvironmentFile=/opt/zipper/app/.env

[Install]
WantedBy=multi-user.target
