[Unit]
Description=Zipper Discord Bot
After=network.target zipper.service

[Service]
WorkingDirectory=%h/zipper
ExecStart=%h/zipper/.venv/bin/python discord_bot.py
Restart=always
RestartSec=5
EnvironmentFile=%h/zipper/.env

[Install]
WantedBy=default.target
