[Unit]
Description=Zipper Dashboard
After=network.target zipper.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/zipper/app
ExecStart=/opt/zipper/app/.venv/bin/python dashboard/main.py
Restart=always
RestartSec=5
TimeoutStopSec=30
EnvironmentFile=/opt/zipper/app/.env

[Install]
WantedBy=multi-user.target
