[Unit]
Description=Zipper Discord Bot
After=network.target zipper.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/zipper/app
ExecStart=/opt/zipper/app/.venv/bin/python bot/discord_bot.py
Restart=always
RestartSec=5
TimeoutStopSec=30
EnvironmentFile=/opt/zipper/app/.env

[Install]
WantedBy=multi-user.target
